# fastapi_backend/requirements.txt
fastapi
uvicorn[standard]
python-jose[cryptography]
passlib
pymongo
mysql-connector-python
python-multipart
confluent-kafka==2.5.3
websockets
paho-mqtt
requests
cryptography
redis
APScheduler==3.10.4
openpyxl>=3.1.0